* {
  width: 100%;
  box-sizing: border-box;
}

.toolbar {
  display: flex;
  position: absolute;
  width: 100%;
  height: 10.5%;
  left: 0;
  top: 0;
  background: #3c3a39;
}

.nav-menu {
  display: none;
}

#mobile-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 95%;
  top: 0;
  bottom: 57px;
  background: #3c3a39;
  mix-blend-mode: normal;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 5%;
  position: absolute;
  width: fit-content;
  height: 44px;
  left: 12px;
  top: calc(50% - 44px / 2);
}

.logo-txt {
  width: fit-content;
  height: 24px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  transition: 0.2s;
}

.logo-txt:hover {
  transform: scale(1.2);
}

.menu-bar {
  display: flex;
  flex-direction: row;
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 5%;
  top: calc(50% - 40px / 2);
  border-radius: 8px;
  background: #3c3a39;
  align-items: center;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20%;
  gap: 5%;
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: 10%;
  background-color: #1c1a19;
  background-image: url(./imgs/Group.svg);
  background-repeat: no-repeat;
  background-position: 100% 130%;
}

.headline-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline .primary {
  width: 70%;
  height: fit-content;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 4.3rem;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.headline .supporting {
  width: 70%;
  height: fit-content;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.headline .description {
  width: 70%;
  height: fit-content;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.headline .socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 70%;
  height: 40px;
  flex: none;
  order: 3;
  flex-grow: 0;
  left: 0;
}

.headline .socials ul {
  display: flex;
  list-style: none;
  color: #fff;
}

.social-icons li i {
  color: #505f79;
}

.headline .socials li i {
  font-size: 20px;
  margin-right: 12px;
  color: #fff;
}

.recent-works {
  display: grid;
  grid-template-columns: 1;
  align-items: center;
  justify-content: center;
  padding: 0 0;
  position: absolute;
  width: 100%;
  height: 2755px;
  left: 0;
  top: 755px;
}

.recent-works .title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0;
  width: 100%;
  height: 3rem;
  flex: none;
  padding-top: 50px;
  order: 0;
  flex-grow: 0;
  text-align: center;
  margin: auto;
  justify-content: center;
}

.recent-works .title-container h2 {
  width: 100%;
  height: fit-content;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 2rem;
  display: flex;
  align-items: center;
  color: #1c1a19;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.recent-works .title-container hr {
  margin-top: -10px;
  border: 1px solid #212121;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.about button span {
  width: 137px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.right-block .see-project-btn span {
  width: 100px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame-43 .action button span {
  width: 100px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame-43 .tags .html span {
  width: 32px;
  height: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.recent-works .frame-44 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
  height: fit-content;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 60px;
}

.frame-43 .right-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 248px;
}

.recent-works .frame-44 .right-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 100%;
  height: 307px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.recent-works .frame-44 .right-block h2 {
  width: 327px;
  height: 36px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.form-intro-container p {
  width: 80%;
  height: 80%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.recent-works .frame-44 .right-block p {
  width: 327px;
  height: 147px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame-29 .bootstrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0;
  width: 114px;
  height: 48px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame-43 .tags .bootstrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 95px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame-29 .ruby {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 114px;
  height: 48px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame-43 .tags .ruby {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 61px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
  flex: none;
  order: 2;
  flex-grow: 0;
}

.frame-43 .tags .bootstrap span {
  width: 71px;
  height: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame-43 .tags .ruby span {
  width: 37px;
  height: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.recent-works .frame-44 .right-block .tech-skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 297px;
  height: 25px;
  flex: none;
  order: 2;
  flex-grow: 0;
  list-style: none;
}

.frame-29 .css {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0;
  width: 114px;
  height: 48px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.recent-works .frame-44 .right-block .tech-skills .css {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 49px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.recent-works .frame-44 .right-block .tech-skills .css span {
  width: 25px;
  height: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame-29 .html {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0;
  width: 114px;
  height: 48px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.frame-43 .tags .html {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.recent-works .frame-44 .right-block .tech-skills .html {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 56px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.recent-works .frame-44 .right-block .tech-skills .html span {
  width: 32px;
  height: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.recent-works .frame-44 .right-block .tech-skills .bootstrap {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 95px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.recent-works .frame-44 .right-block .tech-skills .bootstrap span {
  width: 71px;
  height: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.recent-works .frame-44 .right-block .tech-skills .ruby {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 61px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.recent-works .frame-44 .right-block .tech-skills .ruby span {
  width: 37px;
  height: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame-44 .right-block .see-project-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  background: #ff6b00;
  flex: none;
  order: 3;
  flex-grow: 0;
  border: none;
  color: #fff;
}

.frame-44 .right-block .see-project-btn:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.frame-44 .right-block .see-project-btn:active {
  background: #e05304;
  border: none;
  color: #fff;
}

.frame-43 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5%;
  margin-top: 80px;
  gap: 4px;
  width: 100%;
  height: fit-content;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.card {
  width: 100%;
  height: fit-content;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 30px;
}

.mask-group {
  width: 100%;
  height: 386px;
  background: url(./imgs/MaskGroup.png);
}

.frame-43 .title {
  padding-top: 80px;
  padding-left: 15px;
  width: 295px;
  height: 81px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame-43 .description {
  padding-left: 15px;
  padding-top: 100px;
  width: 295px;
  height: 87px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame-43 .tags {
  padding-left: 15px;
  padding-top: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  width: 236px;
  height: 40px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.frame-43 .card .action {
  display: none;
  height: 48px;
  width: 100%;
  background: #ff6b00;
  justify-content: center;
}

.frame-43 .card:hover .mask-group {
  background-image: url(./imgs/cardHover.png);
}

.frame-43 .card:hover .right-block {
  display: none;
}

.frame-43 .card:hover .action {
  display: flex;
}

.about a {
  display: flex;
  order: 2;
  text-decoration: none;
}

.frame-43 .card .action a {
  display: flex;
  text-decoration: none;
  justify-content: center;
}

#mobile-menu span {
  display: flex;
  justify-content: end;
}

#mobile-menu-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#mobile-menu hr {
  height: 1px;
  background: #6f6c6b;
  width: 92%;
  margin-top: 30px;
  margin-left: -2px;
}

#mobile-menu-ul li a {
  text-decoration: none;
  color: #fff5e1;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.about button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 161px;
  height: 48px;
  background: #ff6b00;
  flex: none;
  flex-grow: 0;
  color: #fff;
}

.form-section button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 131px;
  height: 48px;
  background: #ff6b00;
  flex: none;
  order: 3;
  flex-grow: 0;
  border: none;
}

.about button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.about button:active {
  background: #e05304;
  border: none;
  color: #fff;
}

.frame-43 .card .action button {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  background: #ff6b00;
  border: none;
  color: #fff;
}

.frame-43 .card .action button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.frame-43 .card .action button:active {
  background: #e05304;
  border: none;
  color: #fff;
}

.about-me-section {
  position: absolute;
  width: 100%;
  height: fit-content;
  left: 0;
  top: 4100px;
  background: #1c1a19;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 100px 32px;
  width: 100%;
  height: fit-content;
  background-image: url(./imgs/Group.png);
  background-repeat: no-repeat;
  background-position: 100% 98%;
}

.about .title {
  width: 100%;
  height: fit-content;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4.5rem;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.about .description {
  width: 100%;
  height: 148px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #f4f5f7;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.about-skill-hr {
  border: 1px solid #fff;
  width: 85%;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 24px;
  width: 100%;
  height: 1141.46px;
  left: calc(50% - 329px / 2);
}

.frame-35 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  width: 100%;
  height: 281.46px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame-30 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  width: 225.46px;
  height: 41.46px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame-30 img {
  width: 18px;
  height: 18px;
  background: #ff6b00;
  transform: rotate(-45deg);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame-30 h3 {
  width: 164px;
  height: 24px;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame-31 h3 {
  width: 227px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame-29 .javascript {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0;
  width: 114px;
  height: 48px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame-32 h3 {
  width: 115px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.form-section button h3 {
  width: 107px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame-29 .javascript h3 {
  width: 114px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame-29 .ruby h3 {
  width: 114px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame-29 .html h3 {
  width: 114px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame-29 .css h3 {
  width: 114px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame-34 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  width: 100%;
  height: 336px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame-31 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  width: 281px;
  height: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame-31 img {
  width: 18px;
  height: 18px;
  background: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame-29 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12px;
  gap: 8px;
  width: 186px;
  height: 272px;
  flex: none;
  order: 1;
  flex-grow: 0;
  list-style: none;
}

.frame-29 .bootstrap h3 {
  width: 114px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame-29 .rails {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0;
  width: 162px;
  height: 48px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame-29 .rails h3 {
  width: 162px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame-29 .rspec {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0;
  width: 114px;
  height: 48px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.frame-29 .rspec h3 {
  width: 114px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame-29 .capybara {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0;
  width: 114px;
  height: 48px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.frame-29 .capybara h3 {
  width: 114px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame-29 .selenium {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0;
  width: 114px;
  height: 48px;
  flex: none;
  order: 4;
  flex-grow: 0;
}

.frame-29 .selenium h3 {
  width: 114px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame-33 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  width: 100%;
  height: 336px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.frame-32 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  width: 169px;
  height: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame-32 img {
  width: 18px;
  height: 18px;
  background: #ff6b00;
  border-radius: 150px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#mobile-menu img {
  width: 38px;
  margin-right: 20px;
  margin-top: 20px;
}

.frame-28 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12px;
  gap: 8px;
  width: 138px;
  height: 272px;
  flex: none;
  order: 1;
  flex-grow: 0;
  list-style: none;
}

.frame-28 .codekit {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0;
  width: 114px;
  height: 48px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame-28 .codekit h3 {
  width: 114px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame-28 .github {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0;
  width: 114px;
  height: 48px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame-28 .github h3 {
  width: 114px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame-28 .codepen {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0;
  width: 114px;
  height: 48px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.frame-28 .codepen h3 {
  width: 114px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame-28 .gitlab {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0;
  width: 114px;
  height: 48px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.frame-28 .gitlab h3 {
  width: 114px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame-28 .terminal {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0;
  width: 114px;
  height: 48px;
  flex: none;
  order: 4;
  flex-grow: 0;
}

.frame-28 .terminal h3 {
  width: 114px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 6% 0;
  gap: 58px;
  position: absolute;
  width: 100%;
  height: 804px;
  left: 0;
  top: 5900px;
}

.form-intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  width: 100%;
  height: 25%;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.form-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
  gap: 48px;
  width: 100%;
  height: 330px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.name-div {
  width: 70%;
  height: 10%;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.name-div input {
  border: none;
  height: 85%;
}

.email-div {
  width: 70%;
  height: 10%;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.email-div input {
  border: none;
  height: 85%;
}

.message-div {
  width: 70%;
  height: 30%;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.message-div textarea {
  border: none;
  background: #fbf8f7;
}

.bottom-nav {
  display: flex;
  position: absolute;
  width: 100%;
  height: 72px;
  left: 0;
  top: 6580px;
  border-top: 1px solid #dfe1e6;
}

.social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  position: absolute;
  width: 25%;
  height: 25%;
  left: calc(50% - 200px / 2 + 0.5px);
  top: calc(50% - 80px / 2);
  list-style: none;
}

.social-icons li {
  font-size: 1rem;
  margin-left: 18px;
}

@media only screen and (min-width: 768px) {
  * {
    width: 100%;
    box-sizing: border-box;
  }

  #mobile-menu {
    display: none;
  }

  .toolbar {
    width: 100%;
    position: fixed;
    z-index: 1;
    margin-top: -5px;
  }

  .menu-bar {
    display: flex;
    width: fit-content;
    right: 120px;
  }

  .menu-bar img {
    display: none;
  }

  .nav-menu {
    display: flex;
    list-style-type: none;
  }

  .nav-menu li {
    color: #fff;
    margin-left: 80px;
    transition: 0.2s;
  }

  .nav-menu li:hover {
    transform: scale(1.2);
  }

  .nav-menu li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }

  .headline {
    width: 100vw;
    height: 639px;
    flex-direction: row;
    background-image: url(./imgs/GroupBig.svg);
  }

  .headline-text {
    order: 1;
    align-items: center;
    gap: 24px;
    position: absolute;
    width: 566px;
    height: 739px;
    left: 143px;
    top: 52px;
  }

  .headline .socials {
    height: fit-content;
    flex-direction: column;
    width: 50px;
  }

  .headline .socials ul {
    flex-direction: column;
    gap: 24px;
    padding-top: 100px;
  }

  .social-icons li i {
    transition: 0.2s;
  }

  .headline .socials li i {
    font-size: 24px;
  }

  .headline .primary {
    width: 566px;
    height: 160px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    color: #f55800;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .headline .supporting {
    width: 566px;
    height: 24px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #fff;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .headline .description {
    width: 566px;
    height: 123px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .recent-works {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 114px;
    position: absolute;
    width: 100vw;
    height: fit-content;
    top: 805px;
  }

  .recent-works .title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    gap: 24px;
    width: 100%;
    height: 52px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .recent-works .title-container h2 {
    width: 315px;
    height: 52px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #091e42;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .form-section form hr {
    width: 100%;
  }

  .recent-works .title-container hr {
    width: 794px;
    height: 0;
    border: 1px solid #212121;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .recent-works .frame-44 {
    height: fit-content;
    width: 100%;
  }

  .recent-works .frame-44 .frame-44-1 {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .recent-works .frame-44 .frame-44-1 img {
    width: 40%;
    height: fit-content;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .recent-works .frame-44 .frame-44-1 .right-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 45%;
    height: fit-content;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left: -100px;
  }

  .recent-works .frame-44 .frame-44-1 .right-block h2 {
    width: 100%;
    height: 48px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #091e42;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: -2px;
  }

  .form-intro-container p {
    width: 455px;
    height: 256px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #262626;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .recent-works .frame-44 .frame-44-1 .right-block p {
    width: 100%;
    height: fit-content;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #091e42;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .frame-43 {
    display: grid;
    grid-template-columns: auto auto auto;
    height: fit-content;
    width: 100%;
  }

  .frame-43 .description {
    width: 100%;
  }

  .frame-43 .tags {
    width: 100%;
  }

  .frame-43 .card .action {
    width: 100%;
  }

  .frame-43 .card .action a {
    display: flex;
    justify-content: center;
  }

  .card {
    width: 90%;
    height: fit-content;
  }

  .frame-43 .card:hover .right-block {
    display: none;
  }

  .frame-43 .card:hover .action {
    display: flex;
  }

  .mask-group {
    width: 100%;
  }

  .frame-43 .card:hover .mask-group {
    background-image: url(./imgs/cardHover.png);
    background-size: cover;
  }

  .about-me-section {
    height: 1370px;
    width: 100%;
    top: 2507px;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    position: absolute;
    width: 100%;
    height: 582px;
    background-image: url(./imgs/aboutBG.svg);
    background-position: 100% 100%;
  }

  .about .title {
    width: 40%;
    height: 78px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 67px;
    line-height: 82px;
    color: #f55800;
    flex: none;
    order: 0;
    flex-grow: 0;

    /* padding-left: 90px; */
  }

  .about .description {
    width: 40%;
    height: 148px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .skill {
    display: flex;
    flex-direction: row;
    margin-top: 35%;
    justify-content: center;
  }

  .frame-35 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 24px;
    width: 25%;
    height: 281.46px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .frame-34 {
    display: flex;
    width: 25%;
    align-items: flex-start;
  }

  .frame-33 {
    display: flex;
    width: 25%;
    align-items: flex-start;
  }

  .frame-30 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 12px;
    width: 289.46px;
    height: 41.46px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .about-skill-hr {
    position: absolute;
    top: 700px;
    margin-left: 5%;
    width: 90%;
  }

  .form-section {
    top: 3900px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 130px 0;
    gap: 24px;
    position: absolute;
    width: 1163px;
    height: 420px;
    left: 135px;
  }

  .form-intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 24px;
    width: 455px;
    height: 256px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .form-section form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 24px;
    width: 684px;
    height: 330px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left: 40px;
  }

  .name-div {
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 24px;
    width: 684px;
    height: 48px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .email-div {
    width: 684px;
    height: 48px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .message-div {
    width: 684px;
    height: 114px;
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .name-div input,
  .email-div input {
    width: 80%;
    height: 40px;
  }

  .message-div textarea {
    width: 80%;
    height: 100px;
  }

  .bottom-nav {
    width: 100vw;
    top: 4605px;
  }

  .social-icons li i:hover {
    transform: scale(1.4);
  }
}
